<div class="bg-default">
  <div class="px-8 py-4 max-container mx-auto sm:px-4">
    <div class="text-xl font-semibold text-white">
      Welcome to JustWatch India
    </div>

    <div class="py-4 shadow-2xl">
      <p class="text-base leading-relaxed text-para">
        Where to watch movies online? A movie evening always starts with a very
        time-consuming and frustrating search for where to watch movies online.
        JustWatch is there to help you find all the movies you can stream
        legally in India and make your life easier.
        <br />
        Find below the list of online movies available on Netflix, Hotstar, Hooq
        and 10 other streaming providers, organized by popularity. If you have
        one or more flat-rate subscriptions, use the WatchBar to filter the
        movies available online on streaming providers with monthly subscription
        services like
        <button
          *ngIf="!showContent"
          class="text-red-200"
          (click)="showContent = !showContent"
        >
          Read Full
        </button>
        <br *ngIf="!showContent" />

        <span *ngIf="showContent">
          Netflix and Hotstar. You are searching for movies to rent or for
          movies to buy? Use our « Price » filter or check out the most popular
          providers for buying and renting movies: Google Play Movies and
          iTunes. Our « Price » filter is also very useful to find free movies
          online with streaming providers like Viu and Voot. Having kids? Kids
          movies can be easily found on Netflix Kids dedicated page or by using
          our age-rating filter. Amongst the best movies you can watch online
          right now, you can find Solo: A Star Wars Story, Jurassic: World
          Fallen Kingdom and The First Purge as well as Marvel movies like
          Avengers: Infinity War, Black Panther and Deadpool 2. You are here on
          the popular view that helps you find and stream movies online. For new
          movie releases check here We organized this list of movies and tv
          series by popularity to help you stream the best online in India.
          Right now, amongst the best movies you can watch online, you’ll find
          the marvel movie to enjoy with your children, our filters let you
          browse and easily find a specific movie or TV series to watch it
          legally online.
        </span>
        <button  *ngIf="showContent"
        class="text-red-200"
        (click)="showContent = !showContent"
         >
        Read Less
      </button>
      </p>
    </div>

    <div class="carousel-container flex my-custom-class px-4">
      <ngb-carousel
        [showNavigationArrows]="true"
        [showNavigationIndicators]="false"
        [wrap]="true"
      >
        <ng-template ngbSlide>
          <div class="icon-container flex gap-6">
            <img
              *ngFor="let icon of appIcons.slice(0, 13)"
              src="{{ icon.icon }}"
              class="rounded-md sm:w-12 w-20"
            />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="icon-container flex gap-6">
            <img
              *ngFor="let icon of appIcons.slice(4, 17)"
              src="{{ icon.icon }}"
              class="rounded-md sm:w-12 w-20"
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
