.largeposter {
  max-height: 280px;
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.largeposter:hover {
  object-fit: contain;
  transform: scale3d(1.1, 1.1, 1.1);
  z-index: 2;
}

.text {
  font-size: 23px;
}

.shimmer {
  width:280px;
  height:280px;
  background-image: linear-gradient(to right, #f6f7f8 0%, #e2e2e2 20%, #f6f7f8 40%);
}

