<div class="bg-default pt-14" *ngIf="moviesList; else shimmer">
  <h5 class="text-white pl-4 text">{{title}}</h5>
  <div class="flex overflow-y-hidden overflow-x-scroll pt-3 p-2 space-x-3">
    <ng-container *ngFor="let a of moviesList">
      <img
        [routerLink]="['/movie', a.id]"
        src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}"
        class="largeposter rounded-lg"
        alt="..."
      />
    </ng-container>
  </div>
</div>


<ng-template #shimmer>
  <div class="flex pt-3 p-2 space-x-3 overflow-y-hidden overflow-x-scroll">
    <div *ngFor="let a of [1, 2, 3, 4, 5, 6, 7]" class="shimmer">
    </div>
  </div>
</ng-template>
